.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
	font-weight: bold;
}
.btn:hover {
    background-color: RoyalBlue;
}

body {
	background-color: #1451AE;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 0.0;
	overflow-y:hidden;
	text-shadow: 3px 2px DodgerBlue;
} 

.main {
	padding: 0px 0px;
	position: absolute; 
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
	overflow-y:hidden;
}

#prog {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 870px;
  height: 60px;
  border: 3px solid #fff;
  
}
  
#prog span {
  background-color: 1451AE;
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  line-height: 60px;
  
}

#prog span#progper {
  bottom: 100%;
}

#prog span.proglbl {
  top: 100%;
  text-transform: uppercase;
}

#prog #progani {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  width: 0;
  min-width: 5px;
  max-width: 864px;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  -webkit-background-size: 54px 54px;
  background-size: 54px 54px;
  background-image: 
  -webkit-linear-gradient(45deg, transparent 33%, rgba(0, 0, 0, .1) 33%,  rgba(0,0, 0, .1) 66%, transparent 66%),
  -webkit-linear-gradient(top, rgba(30, 144, 255, 0.9),  rgba(30, 144, 255, 0.9)),
  -webkit-linear-gradient(left,rgba(30, 144, 255, 0.9), rgba(30, 144, 255, 0.9));
  border-radius: 2px; 
  background-size: 5px 2px, 100% 100%, 100% 100%;
  -webkit-animation: animate-stripes 10s linear infinite;
  animation: animate-stripes 10s linear infinite;
  color: DodgerBlue;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: 100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: 100px 0px; }
}